p {
    margin: 5px;
    /* padding: 0px; */
    font-size: 16px;

}

/* container for all the cat images */

.catCont {
    /* background-color: crimson; */
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    row-gap: 120px;
    padding: 20px;
    /* overflow: hidden; */
  
  
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 720px) {
    grid-template-columns: 1fr;

  }
}

/* container for each individual cat image */

.basketImage {
  border: 2px solid white;
  height:80px;
  width:80px;
  margin: 0;
  
}

.checkoutSpace{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.navLink{
  text-decoration:dotted;
}

.removeBtn {
  width:30px;
  height: 30px;
}

.navBar{
  width: 100%;
  height: 30px;
  background-color: blue;

  display: flex;
  justify-content: flex-start;
}

.total {
  font-size: 30px;
  font-weight: 900;
}